#menu-bar
  {
  margin: 0px 0px 0px 0px;
  padding: 13px 6px 0px 6px;
  height: 42px;
  line-height: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  box-shadow: 2px 2px 3px #666666;
  -webkit-box-shadow: 2px 2px 3px #666666;
  -moz-box-shadow: 2px 2px 3px #666666;
  background: #8B8B8B;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B1D9E3, endColorstr=#6EB3C4);
  background: -webkit-gradient(linear, left top, left bottom, from(#B1D9E3), to(#6EB3C4));
  background: -moz-linear-gradient(top,  #B1D9E3,  #6EB3C4);
  border: inset 1px #8B8B8B;
  }

#menu-bar a
  {
  font-weight: bold;
  font-family: verdana;
  font-style: normal;
  font-size: 16px;
  color: #E7E5E5;
  text-decoration: none;
  display: block;
  padding: 8px 20px 8px 20px;
  margin: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-shadow: -3px 2px 4px #467D80;
  }
  
#menu-bar a:link, #menu-bar a:visited, #menu-bar a:active
  {
  background: #467D80;
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#EBEBEB, endColorstr=#C7C0BB);
  background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#C7C0BB));
  background: -moz-linear-gradient(top,  #EBEBEB,  #C7C0BB);
  color: #444444;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 0px 0px #FFFFFF;
  }
  
#menu-bar a:hover
  {
    background: #467D80;
    color: #FFFFFF;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-shadow: 0px 0px 0px #FFFFFF;
  } 

#menu-bar ul
  {
  list-style:none;
  margin:0;
  padding:0;
  float:left;
  width:10em;
  }

#menu-bar li
  {
  position:relative;
  min-height: 1px;
  vertical-align: bottom;
  }

#menu-bar ul ul
  {
  position:absolute;
  z-index:500;
  top:auto;
  display:none;
  padding: 1em;
  margin:-1em 0 0 -1em;
  }

#menu-bar ul ul ul
  {
  top:0;
  left:100%;
  }

div#menu-bar li:hover
  {
  cursor:pointer;
  z-index:100;
  }

div#menu-bar li:hover ul ul,
div#menu-bar li li:hover ul ul,
div#menu-bar li li li:hover ul ul,
div#menu-bar li li li li:hover ul ul
{display:none;}

div#menu-bar li:hover ul,
div#menu-bar li li:hover ul,
div#menu-bar li li li:hover ul,
div#menu-bar li li li li:hover ul
{display:block;}